  img{
width: 45vw;
height: auto;
transition:ease-in 0.8s;
}

img:hover {
    width: 65vw;
}

main { 
    display:flex;
    width: 120vw;
    height: auto;
    flex-direction: column;
    align-items: center;
}

p {
    width: 45vw;
}

ul{
    margin-left: -5vw;
    list-style: square;
}

.flex-container {
    display: flex;
    width: 8vw;
    justify-content: space-between;
    font-family: Helvetica;
}

ol{
    width: 45vw;
}